/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Components */
@import 'components/nav-bar.css';
@import 'components/table.css';
@import 'components/pagination.css';

/* Screens */
@import 'screens/user.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.submit {
  background-color: transparent;
  outline: 0;
  border: 0;
}

.submit:hover {
  cursor: pointer;
}

/* common */
.max-width {
  width: 75%;
}

/* Main */
main {
  margin-top: 53px;
  padding: 0 15px;
}

caption {
  text-align: left;
  font-size: 1rem;
}
