.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 5px;
}

.pagination a {
  width: 45px;
  height: 45px;
  line-height: 25.5px;
  padding: 8px;
  border: 1px solid palevioletred;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.pagination a:hover {
  background-color: rgba(216, 112, 147, 0.534);
}
