table {
  width: 100%;
  font-size: 1.1rem;
  border-collapse: collapse;
}

th {
  padding: 10px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #dee2e6;
  font-size: 1.1rem;
}

.table__item td {
  padding: 12px;
  border-top: 1px solid #dee2e6;
  font-size: 1rem;
}

.table__item.id {
  color: #026ee2;
}

.table__item.id:hover {
  text-decoration: underline;
  text-decoration-color: #0057b4;
  color: #0057b4;
}

.table__item.hover:hover {
  background-color: #ececf6;
  cursor: pointer;
}
