<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Customer Management System</title>
  </head>
  <body>
    <!-- 로그인 -->
    <main class="login__main">
      <h1>Welcome to Customer Management System</h1>
      <form class="login__form" action="/" method="get">
        <input type="id" name="id" />
        <input type="password" name="password" />
        <input type="submit" name="submit" />
      </form>
    </main>
  </body>
</html>
