<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Customer Management System</title>
  </head>
  {% endblock %}
  <body>
    <!-- Header -->
    <!-- <header>
      <h1>Customer Management System</h1>
    </header> -->
    {% include "navbar.html" %}
    <!-- Main -->
    <main class="max-width">{% block content %} {% endblock %}</main>
  </body>
</html>
