{% extends 'layout.html' %} {% block content %}

<!-- Orders Table -->
<table>
  <tr>
    <th align="left">id</th>
    <th align="left">order_at</th>
    <th align="left">store_id</th>
    <th align="left">user_id</th>
  </tr>
  {% for order in orders %}
  <tr class="table__item hover">
    <td>
      <a class="table__item id" href="orderitem_detail/{{ order['Id'] }}"
        >{{ order['Id'] }}</a
      >
    </td>
    <td>{{ order['OrderAt'] }}</td>
    <td>{{ order['StoreId'] }}</td>
    <td>{{ order['UserId'] }}</td>
  </tr>
  {% endfor %}
</table>
{% include "pagination.html" %} {% endblock %}
