{% extends 'layout.html' %} {% block content %}

<!-- Stores Table -->
<table>
  <tr>
    <th align="left">id</th>
    <th>type</th>
    <th>name</th>
    <th>addreess</th>
  </tr>
  {% for store in stores %}
  <tr class="table__item hover">
    <td>
      <a class="table__item id" href="store_detail/{{ store['Id'] }}"
        >{{ store['Id'] }}</a
      >
    </td>
    <td align="center">{{ store['Type'] }}</td>
    <td align="center">{{ store['Name'] }}</td>
    <td align="center">{{ store['Address'] }}</td>
  </tr>
  {% endfor %}
</table>
{% include "pagination.html" %} {% endblock %}
