{% extends 'layout.html' %} {% block content %}
<!-- Form -->
<form action="/users" method="get" class="user-form">
  <div class="user-form__name">
    <label for="name">Name:</label>
    <input type="text" name="name" />
  </div>
  <div class="user-form__gender">
    <label for="gender">Gender:</label>
    <select name="gender">
      <option selected value=""></option>
      <option value="Female">female</option>
      <option value="Male">male</option>
    </select>
  </div>
  <input class="user-form__submit submit" type="submit" value="Submit" />
</form>
<!-- Users Table -->
<table>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Birthdate</th>
  </tr>
  {% for user in users %}
  <tr
    class="table__item hover"
    onclick="location.href='/user_detail/{{ user.Id }}'"
  >
    <td align="center">{{ user['Name'] }}</td>
    <td align="center">{{ user['Gender'] }}</td>
    <td align="center">{{ user['Age'] }}</td>
    <td align="center">{{ user['Birthdate'] }}</td>
  </tr>
  {% endfor %}
</table>
<!-- Page Bar -->
<div class="pagination">
  {% if current_page != 1 %}
  <a href="?page=1">처음</a>
  {% endif %} {% if current_page - 1 > 0 %}
  <a href="?page={{ current_page - 1 }}{{ keywords }}">{{ current_page - 1}}</a>
  {% endif %}
  <a class="current-page" href="?page={{ current_page }}{{ keywords }}"
    >{{ current_page }}</a
  >
  {% if current_page - total_pages < 0 %}
  <a href="?page={{ current_page + 1 }}{{ keywords }}">{{ current_page + 1}}</a>
  {% endif %} {% if current_page != total_pages %}
  <a href="?page={{ total_pages }}{{ keywords }}">끝</a>
  {% endif %}
</div>
{% endblock %}
