{% extends 'layout.html' %}
{% block title %}영화 랭킹{% endblock %}
{% block content %}
  <main class="ranking__main">
    <header class="ranking__header">
      <h1 class="main__title">
        {{ date }}
        <br>
        영화 랭킹
      </h1>
    </header>
    <section class="movies__section">
      {% for movie in movies %}
        <article class="movie__article">
          <div class="movie__info">
            <div class="movie__link">
              <a href="{{ movie['big_img'] }}" class="movie__img-link">
                <img src="{{ movie['thumbnail_img'] }}" alt="{{ movie['title'] }} 포스터" class="movie__img">
                <div class="movie__summary">{{ movie['summary'] }}</div>
              </a>
            </div>
            <div class="movie__title">{{ movie['title'] }}</div>
            <div class="movie__rating">
              <i class="rating__icon fa-solid fa-star"></i> {{ movie['rating'] }}
            </div>
            <div class="movie__reservation-rate">예매율 : {{ movie['reservation_rate'] }}%</div>
            <a href="{{ movie['link'] }}" class="movie__detail-link">상세 보기</a>
          </div>
        </article>
      {% endfor %}
    </section>
  </main>
{% endblock %}
